@import '_normalize';
@import "bourbon/bourbon";

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #1F242A;
    color: #FAFAFF;
}

a {
    color: #FAFAFF;

    .fa {
        margin-left: 0.2em;
        font-size: 95%;
    }
}

section {
    text-align: center;
    font-size: 3rem;

    position: relative;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:nth-child(3n+2) {
        background-color: #0D324D
    }
    &:nth-child(3n+3) {
        background-color: #0D0809;
    }

    .section-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 5rem;
    }

    small {
        // color: darken(#FAFAFF, 3.0)
    }

    a {
        @include transition(opacity 0.3s ease-in);
        opacity: 0.5;
        &:hover {
            opacity: 1.0;
        }
    }
}

.photo-credit {
    font-size: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
}

@mixin dimmed-background($imageName, $dimness : 0.4) {
    background-image: linear-gradient( rgba(0, 0, 0, $dimness), rgba(0, 0, 0, $dimness) ), url('../img/backgrounds/' + $imageName + '.jpg');
}

#eu-flag {
    @include dimmed-background('eu-flag')
}
#stock-market {
    @include dimmed-background('stock-market')
}
#nigel-farage {
    @include dimmed-background('nigel-farage')
}
#david-cameron {
    @include dimmed-background('david-cameron', 0.5)
}
#fish {
    @include dimmed-background('fish', 0.5)
}
#hate-crime {
    @include dimmed-background('hate-crime', 0.5)
}



footer {
    text-align: center;

    a {
        color : #0CCE6B;
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
