@import '_normalize';
@import "bourbon/bourbon";

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    box-sizing: border-box;
}
html {
    font-size: 1em;
    line-height: 1.4;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #1F242A;
    color: #FAFAFF;
}

a {
    color: #FAFAFF;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    .fa {
        margin-left: 0.2em;
        font-size: 95%;
    }
}

main {
    display: none;
    opacity: 0;
    @include transition(opacity 0.6s ease-in);

    &.loaded {
        display: block;
        opacity: 1;
    }
}

section {

    position: relative;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:nth-child(3n+2) {
        background-color: #0D324D
    }
    &:nth-child(3n+3) {
        background-color: #060619;
    }

    &.has-picture {
        -webkit-text-stroke: #333 0.4px;
        -moz-text-stroke: #333 0.4px;
    }


    .section-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    @media screen and (min-width: 481px) {
        font-size: 3rem;
        .section-content {
            padding: 0 5rem;
        }
    }
    @media screen and (max-width: 480px) {
        font-size: 2rem;
        .section-content {
            padding: 0 1rem;
        }
    }

    small {
        display: inline-block;
        margin-top: 0.5em;
    }

    a {
        @include transition(opacity 0.3s ease-in);
        opacity: 0.5;
        &:hover {
            opacity: 1.0;
        }
    }
}

.photo-credit {
    font-size: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.social-share-wrapper {
    width: 33%;
    min-width: 200px;
    margin: 1em auto 0;
    padding-bottom: 1em;

    .social-share {
        width: 50%;
        padding: 0;
        float: left;
        line-height: 0;
    }

    .social-share-twitter {
        text-align: right;
        padding-right: 40px;
    }

    .social-share-facebook {
        text-align: left;
        padding-left: 10px;
    }
}

@mixin dimmed-background($imageName, $dimness : 0.4) {
    @media screen and (min-width: 481px) {
        background-image: linear-gradient( rgba(0, 0, 0, $dimness), rgba(0, 0, 0, $dimness) ), url('../img/backgrounds/' + $imageName + '.jpg');
    }
    @media screen and (max-width: 480px) {
        background-image: linear-gradient( rgba(0, 0, 0, $dimness), rgba(0, 0, 0, $dimness) ), url('../img/mobile-backgrounds/' + $imageName + '.jpg');
    }
}

#eu-flag {
    @include dimmed-background('eu-flag')
}
#stock-market {
    @include dimmed-background('stock-market')
}
#nigel-farage {
    @include dimmed-background('nigel-farage')
}
#david-cameron {
    @include dimmed-background('david-cameron', 0.5)
}
#fish {
    @include dimmed-background('fish', 0.5)
}
#hate-crime {
    @include dimmed-background('hate-crime', 0.5)
}
#ids {
    @include dimmed-background('ids')
}

footer {

    text-align: center;
    width: 100%;
    background-color: #000;

    a {
        color : #0CCE6B;
    }

    position : absolute;
    z-index: 1000;
    bottom: 0;

    max-height: 0;
    vertical-align: middle;

    @media screen and (min-width: 481px) {
        line-height: 4em;
    }
    @media screen and (max-width: 480px) {
        line-height: 1.5em;
    }

    @include transition(max-height 0.6s ease-in 0.4s);

    &.active {

        height: 1000px;

        @media screen and (min-width: 481px) {
            max-height: 4em;
        }
        @media screen and (max-width: 480px) {
            max-height: 5em;
            div {
                padding-top: 1em;
            }
        }
    }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
